# Sample configuration file. Copy to config.ini and edit
# settings appropriately.
[database]
# This is a SQLalchemy engine URL, see
# http://docs.sqlalchemy.org/en/rel_0_7/core/engines.html#engine-creation-api
engine =

[inventory]
# URL, username,, and password for the Mozilla inventory
url = https://inventory.mozilla.org
username =
password =

# The filter expression to use with inventory, expressed as &-separated query parameters.
# TODO: use a better filter that can look for k/v entries indicating systems are managed by an imaging server
filter = hostname__startswith=panda-

# optional, if specified, this is a regexp for imaging servers whose devices should be
# omitted.  This is used to split pools roughly by imaging server (bug 815758)
# ignore_devices_on_servers_re=

[server]
# Defaults to socket.getfqdn
#fqdn =
# Defaults to gethostbyname(socket.getfqdn)
#ipaddress =

[paths]
# Root path where the TFTP server serves files.
tftp_root =
# The path where boot images are stored.
image_store =

[testing]
# if true, then any devices with imaging_server equal to server.fqdn and with a
# relay_info starting with 'localhost' will be emulated locally using fake
# relays and fake pandas.
# run_fakes = true
