/* overall layout */

body {
    margin: 0;
    /* leave room for the toolbar */
    margin-bottom: 2em;
}

#loading {
    text-align: center;
    font-family: sans-serif;
}

#error {
    text-align: center;
    border: thick solid red;
    display: none;
    margin: 3em;
    padding: 1em;
    white-space: pre;
}

#error:before {
    content: "ERROR: ";
    color: red;
}

/* table styling */

table.dataTable {
    clear: both;
    width: 100%;
}

div.dataTables_wrapper {
    background-color: #719ba7;
}

table.dataTable td,
table.dataTable th {
    text-align: left;
    padding: 3px;
    border: 0px;
}

table.dataTable th {
    background: #66a9bd;
}

table.dataTable tr td {
    background: #d5eaf0;
}

table.dataTable tr td.sorting_1 {
    background: #DDF2F7;
}

table.dataTable tr.odd td {
    background: #bcd9e1;
}

table.dataTable tr.odd td.sorting_1 {
    background: #C7E2E9;
}

/* size the checkbox row appropriately */
td.rowcheckbox {
    width: 0em;
}

td.rowcheckbox input {
    margin: 0px;
    margin-bottom: 3px;
}

/* more at http://datatables.net/blog/Creating_beautiful_and_functional_tables_with_DataTables */

/* fixed bottom toolbar */
div#toolbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2em;
    border-top: thin solid #e0e0e0;
    padding: 2pt;
    background: #b0b0b0;
}

div#toolbar button {
    height: 2.5em;
    margin: 0.25em;
    padding: 0px;
}

div.dataTables_filter {
    /* note that this gets transplanted into the toolbar */
    float: right;
    padding: 6px;
}

