/* overall layout */

body {
    margin: 0;
}

body.bmm, body.lifeguard, body.mozpool {
    /* leave room for header and toolbar.  These are both resized later by JS */
    margin-top: 40px;
    margin-bottom: 4em;
}

#loading {
    text-align: center;
    font-family: sans-serif;
}

#error {
    text-align: center;
    border: thick solid red;
    display: none;
    margin: 3em;
    padding: 1em;
    white-space: pre;
}

#error:before {
    content: "ERROR: ";
    color: red;
}

/* table styling */

table.dataTable {
    clear: both;
    width: 100%;
}

div.dataTables_wrapper {
    background-color: #719ba7;
}

table.dataTable td,
table.dataTable th {
    text-align: left;
    padding: 3px;
    border: 0px;
}

table.dataTable th {
    background: #66a9bd;
}

table.dataTable tr td {
    background: #d5eaf0;
}

table.dataTable tr td.sorting_1 {
    background: #DDF2F7;
}

table.dataTable tr.odd td {
    background: #bcd9e1;
}

table.dataTable tr.odd td.sorting_1 {
    background: #C7E2E9;
}

/* size the checkbox row appropriately */
td.rowcheckbox {
    width: 0em;
}

td.rowcheckbox input {
    margin: 0px;
    margin-bottom: 3px;
}

/* fixed header */
div#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
}

div.dataTables_filter {
    /* note that this gets transplanted into the toolbar */
    float: right;
    padding: 6px;
}

/* fixed bottom toolbar */

div#toolbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: thin solid #e0e0e0;
    padding: 5px;
}

div#toolbar button {
    height: 2.5em;
    margin: 0.25em;
    padding: 0px;
}

div.clear {
    clear: both;
}

div#toolbar {
    margin-top: 1em;
}

div#toolbar ul {
    margin: 0px;
    margin-top: 0px;
    padding: 1px 1em;
}

div#toolbar ul li {
    /* These are supposed to be tabs..  For goodness sake, someone do something better! */
    display: inline-block;
    margin: 0px 0.5em;
    padding: 0em 0.5em;
    border-bottom: none;
    color: #505050;
    cursor: pointer;
}

div#toolbar ul li:before {
    content: "[";
}

div#toolbar ul li:after {
    content: "]";
}

div#toolbar ul li:hover {
    color: #101010;
}

div#toolbar ul li.active {
    color: black;
}

div#toolbar div.toolbar-action {
    display: none;
}

div#toolbar div.job-queue {
    font-size: 65%;
}

div#toolbar div.help {
    font-size: 75%;
    width: 30%;
    float: right;
    background: white;
    opacity: 0.8;
    padding: 3px;
    border-radius: 5px;
}

/* BMM */

body.bmm div#toolbar,
body.bmm div#header,
div#menu-bmm {
    background: #AEC94B;
}

/* Lifeguard */

body.lifeguard div#toolbar,
body.lifeguard div#header,
div#menu-lifeguard {
    background: #C9638B;
}

/* Mozpool */

body.mozpool div#toolbar,
body.mozpool div#header,
div#menu-mozpool {
    background: #4BAAC9;
}

body.mozpool div#include-closed {
    float: left;
    padding: 5px;
}

body.mozpool span#reimage-controls {
    display: none;
}

/* menu styling */

body.menu h1 {
    text-align: center;
}

body.menu div {
    margin: 0.5em 1.5em;
    padding: 0.5em;
    cursor: pointer;
}

body.menu div h2 {
    float: right;
    margin: 0.25em 0.25em;
}

/* logs */

pre#log span.timestamp {
    color: gray;
    margin-right: 1em;
}

pre#log span.source {
    color: green;
    margin-right: 1em;
    display: inline-block;
    min-width: 10em;
}

pre#log div.even {
    background-color: #eee;
}

pre#log div.odd {
    background-color: #fff;
}
