/* overall layout */

body {
    margin: 0;
    /* leave room for the toolbar */
    margin-bottom: 2em;
}

body.lifeguard {
    margin-bottom: 4em;
}

#loading {
    text-align: center;
    font-family: sans-serif;
}

#error {
    text-align: center;
    border: thick solid red;
    display: none;
    margin: 3em;
    padding: 1em;
    white-space: pre;
}

#error:before {
    content: "ERROR: ";
    color: red;
}

/* table styling */

table.dataTable {
    clear: both;
    width: 100%;
}

div.dataTables_wrapper {
    background-color: #719ba7;
}

table.dataTable td,
table.dataTable th {
    text-align: left;
    padding: 3px;
    border: 0px;
}

table.dataTable th {
    background: #66a9bd;
}

table.dataTable tr td {
    background: #d5eaf0;
}

table.dataTable tr td.sorting_1 {
    background: #DDF2F7;
}

table.dataTable tr.odd td {
    background: #bcd9e1;
}

table.dataTable tr.odd td.sorting_1 {
    background: #C7E2E9;
}

/* size the checkbox row appropriately */
td.rowcheckbox {
    width: 0em;
}

td.rowcheckbox input {
    margin: 0px;
    margin-bottom: 3px;
}

/* fixed bottom toolbar */

div#toolbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2em;
    border-top: thin solid #e0e0e0;
    padding: 2pt;
}

body.bmm div#toolbar,
div#menu-bmm {
    background: #AEC94B;
}

body.mozpool div#toolbar {
    height: 6em;
}

body.lifeguard div#toolbar {
    height: 4em;
}

body.lifeguard div#toolbar,
div#menu-lifeguard {
    background: #C9638B;
}

body.mozpool div#toolbar,
div#menu-mozpool {
    background: #4BAAC9;
}

div#toolbar button {
    height: 2.5em;
    margin: 0.25em;
    padding: 0px;
}

div.dataTables_filter {
    /* note that this gets transplanted into the toolbar */
    float: right;
    padding: 6px;
}

/* menu styling */

body.menu h1 {
    text-align: center;
}

body.menu div {
    margin: 0.5em 1.5em;
    padding: 0.5em;
    cursor: pointer;
}

body.menu div h2 {
    float: right;
    margin: 0.25em 0.25em;
}

/* logs */

pre#log span.timestamp {
    color: gray;
    margin-right: 1em;
}

pre#log span.source {
    color: green;
    margin-right: 1em;
    display: inline-block;
    min-width: 10em;
}

pre#log div.even {
    background-color: #eee;
}

pre#log div.odd {
    background-color: #fff;
}
